<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Pokémons</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    .btn-back {
      position: absolute;
      top: 10px;
      left: 10px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
    .btn-back i {
      font-size: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <!-- Botão de Voltar -->
    <a href="http://localhost:3000/" class="btn btn-success btn-back">
      <i class="fas fa-arrow-left"></i>
    </a>
    
    <h1 class="text-primary text-center mt-5">Lista de Pokémons</h1>
    <form method="get" action="/pokemons" class="mt-3">
      <input type="text" name="search" placeholder="Pesquisar Pokémon" class="form-control mb-3">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    
    <!-- Botão para adicionar novo Pokémon -->
    <a href="/adicionar-pokemon" class="btn btn-success mt-3">Adicionar Novo</a>
    
    <ul class="list-group mt-3">
      <% pokemons.forEach((pokemon) => { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>
            <strong><%= pokemon.nome %></strong> - Tipo: <%= pokemon.tipo %> - Nível: <%= pokemon.nvl %>
          </span>
          <!-- Container para os botões -->
          <div class="ml-auto">
            <!-- Botão para editar o Pokémon -->
            <a href="/editar-pokemon/<%= pokemon.id %>" class="btn btn-warning btn-sm">Editar</a>
            
            <!-- Formulário para excluir Pokémon -->
            <form method="POST" action="/excluir-pokemon/<%= pokemon.id %>" class="d-inline">
              <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
            </form>
          </div>
        </li>
      <% }) %>
    </ul>
  </div>
</body>
</html>
